server:
  port: 4040

spring:
  datasource:
    url: jdbc:${MYSQL_PUBLIC_URL}
    username: ${MYSQLUSER}
    password: ${MYSQLPASSWORD}


  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true


